# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of languages
- List of libraries
- List of Data Science development tools
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists include but are not limited to:

Some of the popular languages that Data Scientists include but are not limited to:
1. Python
2. R
3. Javascript
4. Scala
5. Julia
6. SQL

Some of the commonly used libraries used by Data Scientists include but are not limited to:

1. TensorFlow
2. Scikit-learn
3. Keras
4. Pandas
5. NumPy
6. Matplotlib

| Data Science Tools |
| ------------------ |
| Rstudio |
| JupyterLab |
| Spyder |
| ApacheSpark |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Abdul Sattar Ouayda